virtualenv/
contacto/migrations/__pycache__/
tarea/migrations/__pycache__/
proyecto/migrations/__pycache__/
scrum/__pycache__/
contacto/__pycache__/
tarea/__pycache__/
proyecto/__pycache__/
apps/__pycache__/__init__.cpython-34.pyc


apps/__pycache__/__init__.cpython-34.pyc
apps/contacto/__pycache__/__init__.cpython-34.pyc
apps/contacto/__pycache__/admin.cpython-34.pyc
apps/contacto/__pycache__/models.cpython-34.pyc
apps/contacto/migrations/__pycache__/0001_initial.cpython-34.pyc
apps/contacto/migrations/__pycache__/0002_auto_20160618_1223.cpython-34.pyc
apps/contacto/migrations/__pycache__/__init__.cpython-34.pyc

apps/proyecto/__pycache__/admin.cpython-34.pyc
apps/proyecto/__pycache__/models.cpython-34.pyc
apps/proyecto/migrations/__pycache__/0001_initial.cpython-34.pyc
apps/proyecto/migrations/__pycache__/0002_auto_20160618_1223.cpython-34.pyc
apps/proyecto/migrations/__pycache__/__init__.cpython-34.pyc

apps/tarea/__pycache__/admin.cpython-34.pyc
apps/tarea/__pycache__/forms.cpython-34.pyc
apps/tarea/__pycache__/models.cpython-34.pyc
apps/tarea/__pycache__/urls.cpython-34.pyc
apps/tarea/__pycache__/views.cpython-34.pyc
apps/tarea/migrations/__pycache__/0001_initial.cpython-34.py

apps/tarea/__pycache__/models.cpython-34.pyc
apps/tarea/models.py


