{% extends 'common/base.html' %}

{% block content %}
<div class="row">
      <div class="col-xs-12 col-md-6">

        <div class="dashboard-stats__item bg-orange">
          <i class="fa fa-comments"></i>
          <h3 class="dashboard-stats__title">
            <span class="count-to" data-from="0" data-to="{{proyectos_tamanio}}">0</span> 
            <small>Proyects</small>
          </h3>
        </div>
        
      </div>
      <div class="col-xs-12 col-md-6">

        <div class="dashboard-stats__item bg-pink">
          <i class="fa fa-comments"></i>
          <h3 class="dashboard-stats__title">
            <span class="count-to" data-from="0" data-to="{{ usuarios_tamanio }}">0</span> 
            <small>Users</small>
          </h3>
        </div>
        
      </div>
    </div>
      <div class="panel panel-default">
        <div class="row panel-body">
        {% if proyectos %}
               <table id="mytable" class="table table-striped">
              <thead class="thead-custom">
                <th>Nombre</th>
                <th>Fecha de inicio</th>
                <th>Status</th>
                <th class="text-center">Editar</th>
                <th class="text-center">Eliminar</th>
              </thead>
              <tbody>
                {% for proyecto in proyectos %}
                <tr>
                  <td><a href="{% url 'proyecto_tareas_panel' proyecto.pk %}">{{ proyecto.nombre }}</a></td>
                  <td>{{ proyecto.fecha_inicio }}</td>
                  {% if proyecto.concluido %}
                  <td><span class="label label-success">Concluido</span></td>
                  {% else %}
                  <td><span class="label label-info">En proceso</span></td>
                  {% endif %}
                  <td class="text-center">
                    <a href="{% url 'proyecto_update' proyecto.pk %}">
                    <p data-placement="top" data-toggle="tooltip" title="Edit">
                      <button class="btn btn-info btn-xs">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                      </button>
                    </p>
                    </a>
                  </td>
                  <td class="text-center">
                    <a href="{% url 'proyecto_eliminar' proyecto.pk %}">
                    <p data-placement="top" data-toggle="tooltip" title="Delete">
                      <button class="btn btn-danger btn-xs">
                        <i class="fa fa-times" aria-hidden="true"></i>
                      </button>
                    </p>
                    </a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        {% endif %}  
        </div>
      </div>
{% endblock %}