{% extends 'common/base.html' %}

{% block content %}
<div class="row">
      <div class="col-xs-12 col-md-6">

        <div class="dashboard-stats__item bg-orange">
          <i class="fa fa-comments"></i>
          <h3 class="dashboard-stats__title">
            <span class="count-to" data-from="0" data-to="1250">0</span> 
            <small>Proyects</small>
          </h3>
        </div>
        
      </div>
      <div class="col-xs-12 col-md-6">

        <div class="dashboard-stats__item bg-pink">
          <i class="fa fa-comments"></i>
          <h3 class="dashboard-stats__title">
            <span class="count-to" data-from="0" data-to="1250">0</span> 
            <small>Users</small>
          </h3>
        </div>
        
      </div>
    </div>
{% endblock %}