

{% extends 'common/base.html' %}
{% block page_header %}
              Mis tareas <small>Listado</small>
{% endblock %}
{% block content %}
      <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="row">
          <div class="panel-body">

            {% if tareas %}
               <table id="mytable" class="table table-striped">
              <thead class="thead-custom">
                <th>Nombre</th>
                <th class="text-center">Editar</th>
                <th class="text-center">Eliminar</th>
              </thead>
              <tbody>
                {% for tarea in tareas %}
                <tr>
                  <td><a href="#">{{ tarea.nombre }}</a></td>
                  <td class="text-center">
                    <a href="{% url 'tarea_editar' tarea.pk %}">
                    <p data-placement="top" data-toggle="tooltip" title="Edit">
                      <button class="btn btn-info btn-xs">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                      </button>
                    </p>
                    </a>
                  </td>
                  <td class="text-center">
                    <a href="{% url 'tarea_eliminar' tarea.pk %}">
                    <p data-placement="top" data-toggle="tooltip" title="Delete">
                      <button class="btn btn-danger btn-xs">
                        <i class="fa fa-times" aria-hidden="true"></i>
                      </button>
                    </p>
                    </a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        {% endif %}  
          </div>
      </div>
      </div>
      </div>
{% endblock %}